# This is our first jupyter notebook

### Markdown cell example:
$x = \frac{-b\pm\sqrt{b^2-4ac}}{2a}$

## Basic programming aspects of Python

In [0]:
#print the version of python you are using:
import sys
print("Python version")
print(sys.version)

Python version
3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

#### Variables

In [0]:
#Two types of key variables: numerical and string
x = 10  # Integer variable
y = "Hello World"  # String variable
 
# Displaying variables value using **print** statement
print(x)
print(y)

10
Hello World

In [0]:
#Checking type of variable
var1 = 'Hello World'
print(type(var1))
 
var2 = 100
if type(var2) == int:
    print('Integer')

<class 'str'>
Integer

### Execise 1:

Write a Python program to print the following string in a specific format using \n and \t (see the output). Go to the editor
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are" Output :

In [0]:


print("Twinkle, twinkle little star,\n\tHow I wonder what you are!\n\t\tUp above the word so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle little star,
	How I wonder what you are!
		Up above the word so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

#### Functions

In [0]:
#Here is an example of a basic function
def square(x):
    """This program calculates the square
    input is x
    returns the square of x"""
    out = x*x
    return out

print(square(10))

100

In [0]:
a = int(input("Input an integer : "))
print(square(a))

Input an integer : 57
3249

### Exercise 2:
Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [0]:
def weird(n):
  s = n + 11*n + 111*n
  return s

weird(3)

369

Conditionals

In [0]:
#if statement
x = 10
y = 20
 
if x < y:
    print("x is less than y")

x is less than y

In [0]:
#if-then-else
x = 10
y = 5
 
if x < y:
    print("x is less than y")
else:
    print("y is less than x")

y is less than x

### Exercise 3:
Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user

In [0]:
#extension
x = 10
y = 10
z = 15
 
if x < y:
    print("x is less than y")
elif x < z:
    print("x is less than z")
else:
    print("x is equal to y")

x is less than z

In [0]:
def odd(n):
  if n%2 == 0:
    print("that number is even")
  else: 
    print("that number is odd")

a = int(input("Input an integer: "))
odd(a)

Input an integer: 17
that number is odd

### Exercise 4:
Write a Python program to test and print whether the input number is within 100 of 1000.

In [0]:
def test(x):
  if x >= 900 and x <= 1100:
    print("Number is within the given range")
  else:
    print("Number is not within the given range")

test(1012)

Number is within the given range

#### For loops

In [0]:
for number in [1, 2, 3, 4, 5]:
    print(number)

1
2
3
4
5

In [0]:
for number in range(5):
    print("Python")

Python
Python
Python
Python
Python

#### Data structures

In [0]:
#List of various entities
intList = [10, 20, 30, 40]
strList = ["Canada", "Japan", "London"]
mixList = ["Canada", 20, True, 500.50]
generate = [x + 6 for x in [4, 5, 6]]  # Generate from loop: list comprehension
listfromtuple = list((5, 13, 15, 17, 29))  # List from a tuple
python = list('python')  # List from a string
 
print(intList)
print(strList)
print(mixList)
print(generate)
print(listfromtuple)
print(python)

[10, 20, 30, 40]
['Canada', 'Japan', 'London']
['Canada', 20, True, 500.5]
[10, 11, 12]
[5, 13, 15, 17, 29]
['p', 'y', 't', 'h', 'o', 'n']

In [0]:
#Accessing list items by index
testList = ["Canada", "Japan", "London"]
print(testList[1])
print(testList[-1])
print(testList[-2:])
print(testList[-3])

Japan
London
['Japan', 'London']
Canada

In [0]:
#Changing list items directly
testList = ["Canada", "Japan", "London"]
print(testList)
 
testList[0] = "Germany"
testList[1] = 100
print(testList)

['Canada', 'Japan', 'London']
['Germany', 100, 'London']

In [0]:
#Removing duplicate entries in a list:
testList = ["Canada", "Japan", "Canada", "Germany", "Japan", "Italy"]

print(testList)
 
cleanlist = []
#The following is an example if a powerful Python utility called "list comprehension"
[cleanlist.append(x) for x in testList if x not in cleanlist]

print(cleanlist)

['Canada', 'Japan', 'Canada', 'Germany', 'Japan', 'Italy']
['Canada', 'Japan', 'Germany', 'Italy']

In [0]:
#The difference between two lists:
list1 = ["Canada", "Japan", "Canada", "Germany", "Japan", "Italy"]
list2 = ["Germany", "France", "Poland", "Italy", "India", "London"]

#when chaning a list to a set, only unique entries are kept and in no specific order 
sub1 = list(set(list1) - set(list2))
print(sub1)
 
sub2 = list(set(list2) - set(list1))
print(sub2)

['Canada', 'Japan']
['Poland', 'London', 'India', 'France']

### Exercise 5
Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.    Here is an example:  

Test Data :  
color_list_1 = set(["White", "Black", "Red"])  
color_list_2 = set(["Red", "Green"])  
Expected Output :  
{'Black', 'White'}

In [0]:
color_list_1=set(["white", "black", "red"])
color_list_2=set(["red", "green"])
sub1 = set(color_list_1 - color_list_2)
print(sub1)

{'white', 'black'}

#### Dictionaries are a more general type of list, where each entry is a key:value pair
#There are many ways to generate dictionaries

In [0]:
#The follwoing are all equivalent ways of creating the same dictionary

d1 = dict(Canada=100, Japan=500)
d2 = {'Canada': 100, 'Japan': 500}
d3 = dict(zip(['Canada', 'Japan'], [100, 500]))
d4 = dict([('Canada', 100), ('Japan', 500)])
d5 = dict({'Japan': 500, 'Canada': 100})
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)

{'Canada': 100, 'Japan': 500}
{'Canada': 100, 'Japan': 500}
{'Canada': 100, 'Japan': 500}
{'Canada': 100, 'Japan': 500}
{'Japan': 500, 'Canada': 100}

In [0]:
#here are ways to get values of keys from a dictionary:
d1 = {'Canada': 100, 'Japan': 500}
x = d1["Canada"]
y = d1.get("Japan")
print(x)
print(y)

100
500

#### to retrieve keys and values as lists

In [0]:
for item in d1.keys():
    print(item)

Canada
Japan

In [0]:
##values as a list
list(d1.values())

[100, 500]

### Exercise 6
Print each of the keys and corresponding values, one per line, in a dictionary (say d3) in the format: key = value

In [0]:
d3 = dict(alpha=1, beta=2, charlie=3)
x = list(d3.keys())
y = list(d3.values())

for i in range(3):
  print(x[i] + "=" + str(y[i]))

alpha=1
beta=2
charlie=3

#### Classes and Objects

In [0]:
#A class is an abstraction of an entity
class Employee:
    name = "John"
    age = 26

In [0]:
#Here is how to create an object of the class Employee
e = Employee()
print(e.name, e.age)
print(type(e))  # <class '__main__.Employee'>

John 26
<class '__main__.Employee'>

In [0]:
#Typically a class object will have initializer to set initial value to its attributes, as in this example:
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
 
 
e = Employee("Sam", 36)
print(e.name, e.age)

Sam 36

In [0]:
#Another important part of a class object are its methods
class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    #method "details"
    def details(self):
        print("Employee Name:",  self.name)
        print("Employee Age:", self.age)
 
 
emp = Employee("Sam", 36)
emp.details()

Employee Name: Sam
Employee Age: 36

### Exercise 7:
Create a python class "Student" with 

- attributes: name, age, major, year in college
- methods: 
           1. __init__ that allows to initialize the each Student instance with attributes when created
           2. details that prints out name, age and major when called

In [0]:
class Student:
  name = "ron"
  age = 23
  major = "math"
  year = "sr."

  def __init__(self,name,age,major,year):
    self.name = name
    self.age = age
    self.major = major
    self.year = year

  def details(self):
    print("Student name:", self.name)
    print("Student age:", self.age)
    print("Student major:", self.major)

ron = Student("Ronjoat", 23, "Mathematics", "Senior")
ron.details()

Student name: Ronjoat
Student age: 23
Student major: Mathematics